## PYTHON SQL
*   Author: Sanjay S Rao
*   LinkedIn: https://www.linkedin.com/in/sanjay-s-rao04/

In [1]:
import sqlite3

In [2]:
def DB_Create():
  # connecting to the database
  connection = sqlite3.connect("Practice_Lab.db") 

  # cursor
  crsr = connection.cursor()

  # print statement will execute if there are no errors
  print("Connected to the database")

  # close the connection
  connection.close()

In [3]:
def Create_Table():
  # connecting to the database
  connection = sqlite3.connect("Practice_Lab.db")

  # cursor
  crsr = connection.cursor()

  # SQL command to create a table in the database
  sql_command = """
  CREATE TABLE INSTRUCTOR (Instructor_id NUMBER(6), 
  Name VARCHAR(20), Designation VARCHAR(25), 
  Dept_name VARCHAR(25));
  """

  # execute the statement
  crsr.execute(sql_command)

  # close the connection
  connection.close()

In [4]:
def Insert_Data():
  # connecting to the database
  connection = sqlite3.connect("Practice_Lab.db")

  # cursor
  crsr = connection.cursor()

  # SQL command to insert the data in the table
  sql_command1 = """
  INSERT INTO INSTRUCTOR VALUES(100001,'Dr. SENTHILNATHAN T','Associate Professor', 'Computer Science');
  """
  crsr.execute(sql_command1)
  
  sql_command2 = """
  INSERT INTO INSTRUCTOR VALUES(100002,'Dr. DEEPA V JOSE', 'Associate Professor', 'Computer Science');
  """
  crsr.execute(sql_command2)

  sql_command3 = """
  INSERT INTO INSTRUCTOR VALUES(100003,'Dr ANILA E I', 'Professor', 'Physics');
  """
  crsr.execute(sql_command3)

  sql_command4 = """
  INSERT INTO INSTRUCTOR VALUES(100004,'Dr GEORGE THOMAS C', 'Professor', 'Physics');
  """
  crsr.execute(sql_command4)

  sql_command5 = """
  INSERT INTO INSTRUCTOR VALUES(100005,'Dr JIJU GILLARIOSE', 'Assistant Professor', 'Statistics');
  """
  crsr.execute(sql_command5)

  sql_command6 = """
  INSERT INTO INSTRUCTOR VALUES(100006,'Dr SEENA THOMAS K', 'Assistant Professor', 'Statistics');
  """
  crsr.execute(sql_command6)

  sql_command7 = """
  INSERT INTO INSTRUCTOR VALUES(100007,'Dr RUBY S M', 'Associate Professor', 'Maths');
  """
  crsr.execute(sql_command7)
  
  # To save the changes in the files. Never skip this.
  # If we skip this, nothing will be saved in the database.
  connection.commit()

  # close the connection
  connection.close()

In [5]:
def Update_Data():
  # Connecting to sqlite
  conn = sqlite3.connect('Practice_Lab.db')

  # Creating a cursor object using
  # the cursor() method
  cursor = conn.cursor()

  # Updating
  cursor.execute('''
  UPDATE INSTRUCTOR SET Designation = "Coordinator" WHERE 
  Instructor_id = 100001;''')

  # Commit your changes in the database
  conn.commit()

  # Closing the connection 
  conn.close()

In [6]:
def Physics_prof():
  # connecting to the database
  connection = sqlite3.connect("Practice_Lab.db")

  # cursor
  crsr = connection.cursor()

  # SQL command to create a table in the database
  sql_command = """
  SELECT Name FROM INSTRUCTOR WHERE Dept_name='Physics';
  """
  
  # execute the statement
  crsr.execute(sql_command)
  ans = crsr.fetchall()
  for i in ans:
    print(i)

  # close the connection
  connection.close()

In [7]:
def Alter_table():
  # connecting to the database
  connection = sqlite3.connect("Practice_Lab.db")

  # cursor
  crsr = connection.cursor()

  # SQL command to create a table in the database
  sql3 = """
  ALTER TABLE INSTRUCTOR ADD Gross_Salary NUMBER(10);
  """
  crsr.execute(sql3)

  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=6000000 WHERE Instructor_id = 100001;
  """)
  
  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=5000000 WHERE Instructor_id = 100002;
  """)

  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=8000000 WHERE Instructor_id = 100003;
  """)

  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=8000000 WHERE Instructor_id = 100004;
  """)

  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=7500000 WHERE Instructor_id = 100005;
  """)

  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=9000000 WHERE Instructor_id = 100006;
  """)

  crsr.execute( """
  UPDATE INSTRUCTOR SET Gross_Salary=6000000 WHERE Instructor_id = 100007;
  """)

  connection.commit()

  # close the connection
  connection.close()

In [8]:
def Delete_Data():
  # Connecting to sqlite
  conn = sqlite3.connect('Practice_Lab.db')

  # Creating a cursor object using
  # the cursor() method
  cursor = conn.cursor()

  # Updating
  cursor.execute('''DELETE FROM INSTRUCTOR WHERE Instructor_id=100007;''')

  # Commit your changes in the database
  conn.commit()

  # Closing the connection
  conn.close()

In [9]:
def Display_Data():
  # connect withe the myTable database
  connection = sqlite3.connect("Practice_Lab.db")

  # cursor object
  crsr = connection.cursor() 

  # execute the command to fetch all the data from the table emp
  crsr.execute("SELECT * FROM INSTRUCTOR")

  # store all the fetched data in the ans variable
  ans = crsr.fetchall()

  # Since we have already selected all the data entries
  # using the "SELECT *" SQL command and stored them in
  # the ans variable, all we need to do now is to print
  # out the ans variable
  for i in ans:
    print(i)

In [10]:
def max_salary():
  connection = sqlite3.connect("Practice_Lab.db")
  crsr = connection.cursor()
  crsr.execute('''SELECT MAX(Gross_Salary) FROM INSTRUCTOR;''')
  ans = crsr.fetchall()
  print(ans)
  connection.close()

In [11]:
def avg_salary():
  connection = sqlite3.connect("Practice_Lab.db")
  crsr = connection.cursor()
  crsr.execute('''SELECT AVG(Gross_Salary) FROM INSTRUCTOR;''')
  ans = crsr.fetchall()
  print(ans)
  connection.close()

In [12]:
def count():
  connection = sqlite3.connect("Practice_Lab.db")
  crsr = connection.cursor()
  crsr.execute('''SELECT COUNT(Instructor_id) FROM INSTRUCTOR;''')
  ans = crsr.fetchall()
  print(ans)
  connection.close()

In [13]:
def limit_5():
  connection = sqlite3.connect("Practice_Lab.db")
  crsr = connection.cursor()
  crsr.execute('''SELECT * FROM INSTRUCTOR LIMIT 5''')
  ans = crsr.fetchall()
  print(ans)
  connection.close()

In [14]:
def upper_names():
  connection = sqlite3.connect("Practice_Lab.db")
  crsr = connection.cursor()
  crsr.execute('''SELECT UPPER(Name) FROM INSTRUCTOR''')
  ans = crsr.fetchall()
  #for i in ans:
  print(ans)
  connection.close()

In [15]:
#Creating the database
# connecting to the database and it will create a database if it doesn't exist and then connects to it
connection = sqlite3.connect("Practice_Lab.db")

# cursor
crsr = connection.cursor()
# print statement will execute if there are no errors
print("Connected to the database")

sql_command = """
  CREATE TABLE INSTRUCTOR (Instructor_id NUMBER(6), 
  Name VARCHAR(20), Designation VARCHAR(25), 
  Dept_name VARCHAR(25));
  """

sql = "DROP TABLE INSTRUCTOR" 
#crsr.execute(sql)

# execute the statement
crsr.execute(sql_command)
print("Table created")

# close the connection
connection.close()

Connected to the database
Table created

In [16]:
Display_Data()

In [17]:
print("Database after Inserting into the data...")
Insert_Data()
Display_Data()

Database after Inserting into the data...
(100001, 'Dr. SENTHILNATHAN T', 'Associate Professor', 'Computer Science')
(100002, 'Dr. DEEPA V JOSE', 'Associate Professor', 'Computer Science')
(100003, 'Dr ANILA E I', 'Professor', 'Physics')
(100004, 'Dr GEORGE THOMAS C', 'Professor', 'Physics')
(100005, 'Dr JIJU GILLARIOSE', 'Assistant Professor', 'Statistics')
(100006, 'Dr SEENA THOMAS K', 'Assistant Professor', 'Statistics')
(100007, 'Dr RUBY S M', 'Associate Professor', 'Maths')

In [18]:
print("Contents after Updating the database ...")
Update_Data()
Display_Data()

Contents after Updating the database ...
(100001, 'Dr. SENTHILNATHAN T', 'Coordinator', 'Computer Science')
(100002, 'Dr. DEEPA V JOSE', 'Associate Professor', 'Computer Science')
(100003, 'Dr ANILA E I', 'Professor', 'Physics')
(100004, 'Dr GEORGE THOMAS C', 'Professor', 'Physics')
(100005, 'Dr JIJU GILLARIOSE', 'Assistant Professor', 'Statistics')
(100006, 'Dr SEENA THOMAS K', 'Assistant Professor', 'Statistics')
(100007, 'Dr RUBY S M', 'Associate Professor', 'Maths')

In [19]:
print("To find Physics professors working in the institution...")
Physics_prof()

To find Physics professors working in the institution...
('Dr ANILA E I',)
('Dr GEORGE THOMAS C',)

In [20]:
print("Contents after Altering the database ...")
Alter_table()
Display_Data()

Contents after Altering the database ...
(100001, 'Dr. SENTHILNATHAN T', 'Coordinator', 'Computer Science', 6000000)
(100002, 'Dr. DEEPA V JOSE', 'Associate Professor', 'Computer Science', 5000000)
(100003, 'Dr ANILA E I', 'Professor', 'Physics', 8000000)
(100004, 'Dr GEORGE THOMAS C', 'Professor', 'Physics', 8000000)
(100005, 'Dr JIJU GILLARIOSE', 'Assistant Professor', 'Statistics', 7500000)
(100006, 'Dr SEENA THOMAS K', 'Assistant Professor', 'Statistics', 9000000)
(100007, 'Dr RUBY S M', 'Associate Professor', 'Maths', 6000000)

In [21]:
print("Contents of the database after Deleting...")
Delete_Data()
Display_Data()

Contents of the database after Deleting...
(100001, 'Dr. SENTHILNATHAN T', 'Coordinator', 'Computer Science', 6000000)
(100002, 'Dr. DEEPA V JOSE', 'Associate Professor', 'Computer Science', 5000000)
(100003, 'Dr ANILA E I', 'Professor', 'Physics', 8000000)
(100004, 'Dr GEORGE THOMAS C', 'Professor', 'Physics', 8000000)
(100005, 'Dr JIJU GILLARIOSE', 'Assistant Professor', 'Statistics', 7500000)
(100006, 'Dr SEENA THOMAS K', 'Assistant Professor', 'Statistics', 9000000)

In [22]:
print("The maximum Gross salary is: ")
max_salary()

The maximum Gross salary is:
[(9000000,)]

In [23]:
print("The average Gross salary is: ")
avg_salary()

The average Gross salary is:
[(7250000.0,)]

In [24]:
print("The total number of Instructors is: ")
count()

The total number of Instructors is:
[(6,)]

In [25]:
print("To get only the first 5 Instructors details: ")
limit_5()

To get only the first 5 Instructors details:
[(100001, 'Dr. SENTHILNATHAN T', 'Coordinator', 'Computer Science', 6000000), (100002, 'Dr. DEEPA V JOSE', 'Associate Professor', 'Computer Science', 5000000), (100003, 'Dr ANILA E I', 'Professor', 'Physics', 8000000), (100004, 'Dr GEORGE THOMAS C', 'Professor', 'Physics', 8000000), (100005, 'Dr JIJU GILLARIOSE', 'Assistant Professor', 'Statistics', 7500000)]

In [26]:
print("To get the Instructor names in Uppercase: ")
upper_names()

To get the Instructor names in Uppercase:
[('DR. SENTHILNATHAN T',), ('DR. DEEPA V JOSE',), ('DR ANILA E I',), ('DR GEORGE THOMAS C',), ('DR JIJU GILLARIOSE',), ('DR SEENA THOMAS K',)]