# A general pupose Registration Form to show exception handling
*   Author: Sanjay S Rao
*   LinkedIn: https://www.linkedin.com/in/sanjay-srinivasa-rao-b67a771a0/

In [1]:
print("Please fill out the following with correct details.")
name = input("Enter your name: ")
check = name.isalpha()
if check == True:
 print("The name entered is : ",name)
else:
  print("Please enter a valid name")
  name = ''

Please fill out the following with correct details.
Enter your name: Sanjay
The name entered is :  Sanjay

In [2]:
try:
  age = int(input("Enter your age: "))
  if age not in range(18,100):
    raise ValueError(age)
  else:
    print("The age entered is: ",age)
except ValueError:
  print(f"{age} is out of the range")
  print("Please enter a valid age between 18 and 100")
  age = ''

Enter your age: 43
The age entered is:  43

In [3]:
try:
  print("Enter your Gender:")
  choice = int(input("1-Male 2-Female 3-Others : "))
  if choice == 1:
    gender = 'Male'
  elif choice == 2:
    gender = 'Female'
  elif choice == 3:
    gender = 'Others'
  else:
    raise ValueError
except ValueError:
  print("Invalid Input! Try again.")
  gender = ''

Enter your Gender:
1-Male 2-Female 3-Others : 1

In [4]:
phnno = input("Enter your mobile number: ")
check = phnno.isalpha()
if check == False:
  try: 
    if len(phnno) != 10:
      raise ValueError(phnno)
  except ValueError:
    print(f"The entered mobile number {phnno} is not valid!")
    print("Please enter a valid mobile number")
    phnno = ''
  else:
    print("The mobile number entered is: ",phnno)
else:
  print("Only integers are allowed!")
  phnno = ''

Enter your mobile number: 9988778877
The mobile number entered is:  9988778877

In [5]:
aadhar = input("Enter your Aadhaar number: ")
check = aadhar.isalpha()
if check == False:
  try: 
    if len(aadhar) != 12:
      raise ValueError(aadhar)
  except ValueError:
    print(f"The entered Aadhar number {aadhar} is not valid!")
    print("Please enter a valid Aadhar number")
  else:
    print("The Aadhar number entered is: ",aadhar)
else:
  print("Only integers are allowed!")
  aadhar = ''

Enter your Aadhaar number: 782266112221
The Aadhar number entered is:  782266112221

In [6]:
import pandas as pd
import numpy as np

data = [[name],[age],[gender],[phnno],[aadhar]]
trans = np.transpose(data)
data_all = pd.DataFrame(trans,columns=['Name','Age','Gender','Phone','Aadhar'])
data_all

     Name Age Gender       Phone        Aadhar
0  Sanjay  43   Male  9988778877  782266112221

In [7]:
print("Please fill out the following with correct details.")
name = input("Enter your name: ")
check = name.isalpha()
if check == True:
 print("The name entered is : ",name)
 print('\n')
else:
  print("Please enter a valid name")
  name = ''

try:
  age = int(input("Enter your age: "))
  if age not in range(18,100):
    raise ValueError(age)
  else:
    print("The age entered is: ",age)
    print('\n')
except ValueError:
  print(f"{age} is out of the range")
  print("Please enter a valid age between 18 and 100")
  age = ''

try:
  print("Enter your Gender:")
  choice = int(input("1-Male 2-Female 3-Others : "))
  if choice == 1:
    gender = 'Male'
  elif choice == 2:
    gender = 'Female'
  elif choice == 3:
    gender = 'Others'
  else:
    raise ValueError
  print(f"Gender is {gender}")
  print('\n')
except ValueError:
  print("Invalid Input! Try again.")
  gender = ''


phnno = input("Enter your mobile number: ")
check = phnno.isalpha()
if check == False:
  try: 
    if len(phnno) != 10:
      raise ValueError(phnno)
  except ValueError:
    print(f"The entered mobile number {phnno} is not valid!")
    print("Please enter a valid mobile number")
    phnno = ''
  else:
    print("The mobile number entered is: ",phnno)
    print('\n')
else:
  print("Only integers are allowed!")
  phnno = ''


aadhar = input("Enter your Aadhaar number: ")
check = aadhar.isalpha()
if check == False:
  try: 
    if len(aadhar) != 12:
      raise ValueError(aadhar)
  except ValueError:
    print(f"The entered Aadhar number {aadhar} is not valid!")
    print("Please enter a valid Aadhar number")
  else:
    print("The Aadhar number entered is: ",aadhar)
    print('\n')
else:
  print("Only integers are allowed!")
  aadhar = ''


data = [[name],[age],[gender],[phnno],[aadhar]]
trans = np.transpose(data)
data_all = pd.DataFrame(trans,columns=['Name','Age','Gender','Phone','Aadhar'])
data_all

Please fill out the following with correct details.
Enter your name: Rajkumar
The name entered is :  Rajkumar


Enter your age: 21
The age entered is:  21


Enter your Gender:
1-Male 2-Female 3-Others : 1
Gender is Male


Enter your mobile number: 8788776677
The mobile number entered is:  8788776677


Enter your Aadhaar number: 786755459878
The Aadhar number entered is:  786755459878

       Name Age Gender       Phone        Aadhar
0  Rajkumar  21   Male  8788776677  786755459878